.grid-container {
  [class^='item'] {
    line-height: 50px;
    text-align: center;
    background: #eee;
    border: 1px solid;
  }

  .sub-title {
    margin: 8px 0;
    font-weight: 700;
  }

  .border {
    border: 1px solid;
  }

  .space li {
    padding-left: 10px;
    &:first-child, &:last-child {
      padding-left: 0;
    }
  }

  .box-6-3, .box-7-3 {
    border: 1px solid;
    [class^='item'] {
      line-height: inherit;
    }
  }
  .box-7-3 {
    height: 150px;
  }
}