.other-note {
  text-align: left;

  .box-1 {
    input {
      display: none;
    }
    input:checked + label {
      color: green;
    }
    label {
      display: inline-block;
      position: relative;
      line-height: 50px;
      color: #aaa;
      padding-left: 50px;
    }
    label:after {
      content: "";
      width: 20px;
      height: 20px;
      border: 1px solid green;
      position: absolute;
      top: 15px;
      left: 15px;
      border-radius: 20px;
    }
    input:checked+label:after {
      background-color: green;
    }
  }

  .box-2 {
    input {
      display: none;
    }
    label {
      display: inline-block;
      line-height: 50px;
      position: relative;
      padding-left: 50px;
      color: #aaa;
    }
    input:checked + label {
      color: green;
    }
    label:after {
      content: "";
      width: 20px;
      height: 20px;
      border: 1px solid;
      position: absolute;
      top: 15px;
      left: 15px;
    }
    input:checked + label:before {
      content: "\2713";
      height: 20px;
      position: absolute;
      top: 0;
      left: 20px;
    }
  }

}