.blog-note {
  text-align: left;

  @mixin common($width, $height) {
    width: $width;
    height: $height;
    border: 1px solid;
  }

  .box-1 {
    .circle-1 {
      float: left;
      margin-right: 30px;
      .pie-simple {
        width: 128px;
        height: 128px;
        background-color: white;
        border-radius: 50%;
        overflow: hidden;
      }

      .pie-left,
      .pie-right {
        width: 50%;
        height: 100%;
        float: left;
        position: relative;
        overflow: hidden;
      }

      .pie-left::before,
      .pie-right::before,
      .pie-right::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: teal;
      }

      .pie-left::before {
        left: 100%;
        transform-origin: left;
        transform: rotate(calc(3.6deg * (var(--percent) - 50)));
        opacity: calc(99999 * (var(--percent) - 50));
      }

      .pie-right::before {
        right: 100%;
        transform-origin: right;
        transform: rotate(calc(3.6deg * var(--percent)));
      }

      .pie-right::after {
        opacity: calc(99999 * (var(--percent) - 50));
      }
    }

    .circle-2 {
      .pie-spin2 {
        width: 128px;
        height: 128px;
        background-color: white;
        border-radius: 50%;
        overflow: hidden;
      }

      .pie-spin2-left,
      .pie-spin2-right {
        width: 50%;
        height: 100%;
        float: left;
        position: relative;
        overflow: hidden;
      }

      .pie-spin2-left::before,
      .pie-spin2-right::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: teal;
      }

      .pie-spin2-left::before {
        left: 100%;
        transform-origin: left;
        animation: spinWait2 3.2s infinite linear;
      }

      .pie-spin2-right::before {
        right: 100%;
        transform-origin: right;
        animation: spinWait1 3.2s infinite linear;
      }

      @keyframes spinWait1 {
        0% {
          transform: rotate(0deg);
        }
        25%,
        50% {
          transform: rotate(180deg);
        }
        75%,
        100% {
          transform: rotate(360deg);
        }
      }

      @keyframes spinWait2 {
        0%,
        25% {
          transform: rotate(0deg);
        }
        50%,
        75% {
          transform: rotate(180deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }
  }

  .box-2 {
    &.flow-colorful {
      max-width: 600px;
      height: 150px;
      background: linear-gradient(
        to right,
        red,
        yellow,
        lime,
        aqua,
        blue,
        fuchsia
      );
      animation: hue 6s linear infinite;
    }

    @keyframes hue {
      from {
        filter: hue-rotate(0deg);
      }
      to {
        filter: hue-rotate(360deg);
      }
    }
  }

  .box-3 {
    @include common(100%, 100px);
    position: relative;
    overflow: hidden;
    .outer {
      overflow: auto;
      height: 100px;
    }
    .inner {
      /* position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0; */
      height: 1000px;
      background: linear-gradient(to right top, teal 50%, transparent 50%)
        no-repeat -10px 0;
      background-size: calc(100% + 20px) calc(100% - 100px + 5px);
      pointer-events: none;
      mix-blend-mode: darken;
    }
    .mask {
      content: '';
      position: absolute;
      top: 5px;
      bottom: 0;
      right: 16px;
      left: 0;
      background: #fff;
      pointer-events: none;
      z-index: 1;
    }
  }

  .box-4 {
    img {
      width: 200px;
      margin-right: 10px;
      & + img {
        filter: brightness(60%) grayscale(90%) contrast(1.2);
      }
    }
  }

  .box-5 {
    display: inline-block;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 4'%3E%3Cpath fill='none' stroke='%23f00' d='M0 3.5c5 0 5-3 10-3s5 3 10 3 5-3 10-3 5 3 10 3'/%3E%3C/svg%3E")
      repeat-x 0 100%;
    background-size: 20px auto;
    animation: waveMove 1s infinite linear;

    @keyframes waveMove {
      from {
        background-position: 0 100%;
      }
      to {
        background-position: -20px 100%;
      }
    }
  }

  .box-6 {
    .box {
      @include common(200px, 200px);
      position: relative;
    }

    .box::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      border: 2px dashed #cd0000;
      animation: borderAround 3s infinite linear;
    }

    @keyframes borderAround {
      0%,
      100% {
        clip: rect(0 200px 2px 0);
      }
      25% {
        clip: rect(0 200px 200px 200px);
      }
      50% {
        clip: rect(200px 200px 200px 0);
      }
      75% {
        clip: rect(0 2px 200px 0);
      }
    }
  }

  .box-7 {
    width: 200px;
    background: repeating-linear-gradient(
      135deg,
      transparent,
      transparent 3px,
      #000 3px,
      #000 8px
    );
    animation: shine 1s infinite linear;
    overflow: hidden;
    .content {
      height: 128px;
      margin: 1px;
      padding: 10px;
      background-color: #fff;
    }

    @keyframes shine {
      0% {
        background-position: -1px -1px;
      }

      100% {
        background-position: -12px -12px;
      }
    }
  }

  .box-8 {
    display: inline-block;
    padding: 100px 200px;
    background-color: #fff;
    background-image: linear-gradient(
        45deg,
        #eee 25%,
        transparent 25%,
        transparent 75%,
        #eee 75%
      ),
      linear-gradient(
        45deg,
        #eee 25%,
        transparent 25%,
        transparent 75%,
        #eee 75%
      );
    // background-image: linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%);
    background-size: 16px 16px;
    background-position: 0 0, 8px 8px;
  }

  .box-9 {
    display: inline-block;
    overflow: hidden;
    position: relative;
    .clip-img {
      display: block;
      @include common(200px, 200px);
      img {
        max-width: 200px;
        height: 100%;
        object-fit: cover;
      }
    }
    .clip-shape {
      width: 100px;
      height: 100px;
      outline: 9999px solid rgba(0, 0, 0, 0.5);
      position: absolute;
      left: 15px;
      right: 0;
      top: 12px;
      bottom: 0;
      cursor: move;
    }
  }

  .box-10 {
    width: 400px;
    max-width: 100%;
    height: 300px;
    background: url('./../../../static/img/ai.jpg') no-repeat;
    position: relative;
    .shape-hollow {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      background-color: rgba(0, 0, 0, 0.75);
      /* 实际开发需要-webkit- */
      mask: no-repeat center;
      mask-image: linear-gradient(black, black),
        url(./../../../static/img/star.svg);
      mask-size: cover, 120px 120px;
      mask-composite: exclude;
      mask-composite: source-out;
      animation: starIn 2s infinite;
    }
    @keyframes starIn {
      from {
        -webkit-mask-size: 100%, 0 0;
        mask-size: 100%, 0 0;
      }
      to {
        -webkit-mask-size: 100%, 300% 300%;
        mask-size: 100%, 300% 300%;
      }
    }
  }
}
